{% extends "base.html" %}

{% block title %}Find Friends{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>Find Friends</h1>
        </div>
        <div class="card-body">
            <form method="POST">
                <label for="username" class="visually-hidden">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username">
                <input type="submit" value="Search">
            </form>

            {% if users %}
                <h2>Search Results</h2>
                <ul>
                    {% for user in users %}
                        <li><a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
